@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">WEB API</h1>
        <p>Web API is built using ASP.NET Core 2.2, It is using Token authentication to access API</p>
        <p><a class="btn btn-primary btn-lg" href="/swagger" role="button">API Reference &raquo;</a></p>
    </div>
</div>